*~
*#
*.swp

*.DS_Store

terraform.tfstate*
*.terraform*

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

.vscode/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build

build
gen
bin
go.mod
go.sum
.DS_Store
